.container-fluid {
  padding: 2em;
  max-width: 1000px;
  color: #97475E;
  font-family: FontAwesome;
}

#gameBoard {
  margin-right: auto;
  margin-left: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tile {
  margin: 10px;
  height: 100px;
  width: 100px;
  margin-right
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
